.landing_page {
  display: none;
  margin: 0;
  padding: 0;
}

.landing_page .step_container {
  min-height: 1000px;
  background: url(https://i.postimg.cc/Wp7pH3tf/gradient.jpg);
  background-attachment: fixed;
  background-size: cover;
}